[tool.poetry]
name = "hakai-metadata-conversion"
version = "0.1.0"
description = ""
authors = ["Jessy Barrette <30420025+JessyBarrette@users.noreply.github.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
click = "^8.1.7"
loguru = "^0.7.2"
requests = "^2.32.3"
cffconvert = "^2.0.0"
pycountry = "^24.6.1"
metadata-xml = {git = "https://github.com/HakaiInstitute/metadata-xml.git"}
pyyaml = "^6.0.1"
lxml = "^5.2.2"


[tool.poetry.group.dev.dependencies]
pytest = "^8.2.2"
isort = "^5.13.2"
ruff = "^0.5.0"
black = "^24.4.2"
pytest-xdist = "^3.6.1"


[tool.poetry.group.docs.dependencies]
black = "^24.4.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
hakai_metadata_conversion = "hakai_metadata_conversion.__main__:cli"